@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 38, 38);
  text-align: center;
}

.quiz-app {
  width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.question-section {
  text-align: center;
}

.question-section h2 {
  margin: 10px 0;
  font-weight: 600;
  color: rgb(42, 133, 212);
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgb(42, 133, 212);
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(53, 161, 255);
}
.timer {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}

.timer span {
  font-weight: bold;
}

.score-section h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.score-section button {
  background-color: tomato;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 20px;
}
